{% extends 'layout.html' %}
{% block content %}
	<h1>
		Registration
	</h1>

<div class = "forma">
	<div>
		<div class = "logi">
			Login
		</div>
		<div class = "logpas">
			<input type ="text" placeholder="Enter login">
		</div>
	</div>
	<div>
		<div class = "logi">
			Email
		</div>
		<div class = "logpas">
			<input type ="password" placeholder="password">
		</div>
	</div>
	<div>
		<div class = "logi">
			SidkyName
		</div>
		<div class = "logpas">
			<input type ="password" placeholder="password">
		</div>
	</div>
	<div>
		<div class = "logi">
			Upload avatar
		</div>
		<div class = "choose_photo">
			<div>
				<img src="../static/images/jason.jpg" alt="avatar">
			</div>
			<input type ="file" placeholder="password">
		</div>
	</div>

	<div>
		<div class = "logi">

		</div>
		<div>
			<button class = "ask">Save</button>
		</div>

	</div>
</div>
{% endblock %}
