{% extends 'layout.html' %}
{% load static%}
{% block content %}
{% load django_bootstrap5 %}
<div class="HQ">
    <h1>
        Question
    </h1>
    <a href = "">Hot questions</a>
</div>
{% include 'components/question-item.html'%}
<div class = "anser_section"></div>
{% for answer in answers%}
	{% include 'components/answer-item.html' %}
{% endfor %}

	{% include 'components/puginatium.html'%}


<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}