{% load static%}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number == 1 %}
                <a class="btn btn-secondary" href="?page=1"> 1</a>
            {% else %}
                <a class="btn btn-secondary" href="?page=1"> 1</a>
                <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            <a class="btn btn-primary" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </span>


        {% if page_obj.has_next %}
            {% if page_obj.next_page_number == page_obj.paginator.num_pages%}
                <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% else %}
                <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    </span>
</div>